*{
  margin: 0;
  padding: 0;
}
.app {
  text-align: center;
  width: 100%;
}
.app-header {
  background-color: #a1b1d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
  font-size: 55px;
  color: #b4644d;
  padding: 50px;
  border: 3px solid #b4644d;
}
.subTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: #b88c81;
  margin: 0;
  padding-top: 40px;
}
.messageList {
  text-align: center;
  padding: 20px 40px;
  font-size: 20px;
  color: #6f9089;
}
.chat{
  display: flex;
  text-align: left;
  padding: 15px 40px;
  font-size: 20px;
  background-color: #faf0e7;
  color: #727e9b;  
  margin-top: 10px;
}
.author{
  padding-right: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #b4644d;
}
.button{
  padding: 20px 60px;
  color: #b88c81;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #a5b8e7;
  border: 2px solid #b4644d;
  border-radius: 20px;
}
.label{
  display: block;
  margin: 25px;
  color: #6f9089;
  font-size: 25px;
}
.input{
  padding: 10px;
  margin-left: 20px;
  border: 2px solid #b4644d;
  border-radius: 20px;
  font-size: 25px;
  vertical-align: middle;
}
.inputAuthor{
  width: 25%;
}
.inputText{
  width: 50%;
  resize: none;
}
.board{
  display: flex;
}
.messages{
  width: 100%;
}